# See for instructions on this file https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# Blanket cover protection
* @Azure/cae-infra-eslz @Azure/customer-architecture-team
*.json @Azure/customer-architecture-team

# .github folder protection
.github/** @Azure/customer-architecture-team @Azure/cae-infra-eslz

# ESLZ ARM protection
eslzArm/** @Azure/customer-architecture-team @Azure/cae-infra-eslz

# ESLZ Portal UX protection
eslzArm/eslz-portal.json @Azure/customer-architecture-team
