# See for instructions on this file https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @azure/enterprisescale-vteam

.github/CODEOWNERS @uday31in
