# See for instructions on this file https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @Azure/cet-northstar-vteam @cet-northstar-vteam

.github/CODEOWNERS @uday31in
.github/** @uday31in @ljtill
*.yml @ljtill  @uday31in
Dockerfile @ljtill
*.ps1 @ljtill
*.psd1 @ljtill
*.psm1 @ljtill