#Private
**.private**

#DSStore
.DS_Store


#VSCode
.vs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#Jupyter Notebook checkpoints
**/.ipynb_checkpoints/*
