#Ignore Everything
*

#Include everything back
!*/
!**/ESLZ (ESLZ)/**/Microsoft.Authorization*.parameters.json
!**/ESLZ (ESLZ)/**/Microsoft.Management*.parameters.json
!**/ESLZ (ESLZ)/**/Microsoft.Subscription*.parameters.json
**/ESLZ (ESLZ)/**/*SecurityCenter.parameters.json
!entScaleMgPolicyDef.json
!entScaleSubPolicyDef.json
!README.md

!.gitignore

#Exclude roleAssignments
**/ESLZ (ESLZ)/**/Microsoft.Authorization*roleAssignments*.parameters.json
