#Ignore Everything
*

#Include everything back
!*/
!**/contoso (contoso)/**/Microsoft.Authorization*.parameters.json
!**/contoso (contoso)/**/Microsoft.Management*.parameters.json
!**/contoso (contoso)/**/Microsoft.Subscription*.parameters.json
**/contoso (contoso)/**/*SecurityCenter.parameters.json
!entScaleMgPolicyDef.json
!entScaleSubPolicyDef.json
!README.md

!.gitignore

#Exclude roleAssignments
**/contoso (contoso)/**/Microsoft.Authorization*roleAssignments*.parameters.json
