name: Sync Issues to Azure DevOps Work Items

on:
  issues:
    types: [opened, closed, deleted, reopened, edited, labeled, unlabeled, assigned, unassigned]
  issue_comment:
    types: [created]

jobs:
  alert:
    runs-on: ubuntu-latest
    name: Sync workflow
    if: github.repository == 'Azure/Enterprise-Scale'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: GitHub/ADO Sync
        uses: a11smiles/GitSync@v1.1.4
        env:
          ado_token: '${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}'
          config_file: './.github/actions-config/gh-ado-sync-config.json'
        with:
          ado: ${{ secrets.ADO_MAPPINGS_HANDLES }}
