---
name: Update ALZ Tools

##########################################
# Start the job on push for all branches #
##########################################

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: '0 5 * * 0'
  workflow_dispatch: {}

env:
  github_user_name: 'github-actions'
  github_email: '41898282+github-actions[bot]@users.noreply.github.com'
  github_commit_message: 'Auto-update ALZ.Tools'

permissions:
  contents: write
  id-token: write

###############
# Set the Job #
###############
jobs:
  update-alz-tools:
    name: Update ALZ Tools
    runs-on: ubuntu-latest
    environment: csu-ro

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Configure local git
        run: |
          git config --global user.name "$github_user_name"
          git config --global user.email "$github_email"
 
      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: Update ProviderApiVersions
        uses: azure/powershell@v1
        with:
          inlineScript: src/Alz.Tools/scripts/Update-ProviderApiVersionsZip.ps1
          azPSVersion: "latest"

      - name: Stage changes
        run: |
          echo "==> Stage changes..."
          mapfile -t STATUS_LOG < <(git status --short | grep src/Alz.Tools/)
          if [ ${#STATUS_LOG[@]} -gt 0 ]; then
              echo "Found changes to the following files:"
              printf "%s\n" "${STATUS_LOG[@]}"
              git add --all ./src/Alz.Tools/
          else
              echo "No changes to add."
          fi

      - name: Push changes
        run: |
          echo "==> Check git diff..."
          mapfile -t GIT_DIFF < <(git diff --cached)
          printf "%s\n" "${GIT_DIFF[@]}"

          if [ ${#GIT_DIFF[@]} -gt 0 ]; then

              echo "==> Commit changes..."
              git commit --message "$github_commit_message [$GITHUB_ACTOR/${GITHUB_SHA::8}]"

              echo "==> Push changes..."
              echo "Pushing changes to: $GITHUB_REPOSITORY [$GITHUB_HEAD_REF]"
              git push origin HEAD:"$GITHUB_HEAD_REF"

          else
              echo "No changes found."
          fi
